:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
  --cti-blue: #0D3B66;
  --cti-turquois: #00A9A5;
  --cti-gold: #FFBA49;
}

img {
  border-radius: 4px;
}

body {
  background-image: url("public/images/CTi_home_Main_Nav_Background_2023.png");
  background-size:cover;
  background-attachment: fixed;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 1;
  text-decoration: none;
  transition: all 200ms;
  width: 40px;
  font-size:22px;
  color:#fff;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.overlay header {
  background-color:var(--cti-blue);
  color:#fff;
}
/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  background: none;
  display: flex;
  height: var(--header-height);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header img{
  width: 20%;
  padding:0;
  margin:0;
}

.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}

.header-menu-item {
  cursor: pointer;
}
.header-menu-item a {
  color:var(--cti-blue);
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
  
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--cti-blue);
  margin-top: auto;
  width:100%;
}

.footer-menu-missing {
  display: inline-block;
  margin: 1rem;
}

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width:90%;
}

.footer-menu a {
  color: var(--color-light);
  padding-left: 1rem;
}

.policy-links a {
  display: inline-block;
  margin-right:5em;
  
}
.StoreCopyright {
  
  position:relative;
  float:right;
  color:#fff;
  left:40%;
  
  
}


/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.continueToCheckoutBtn p{
  background-color: var(--cti-blue);
  border: none;
  border-radius: 5px;
  padding: .5em;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.continueToCheckoutBtn p:hover{
  background-color: var(--cti-turquois);
  cursor: pointer;
}
.continueToCheckoutBtn:hover {
  text-decoration:none;
}
.removeButton {
  background-color:#f00;
  border: none;
  color:#fff;
  width:100%;
  padding:.5em;
  border-radius: 5px;
}
.removeButton:hover {
  background-color: #000;
  cursor:pointer;
}
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main p {
  font-size: 18px;
  font-weight: 700;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantiy {
  display: flex;
}
.cart-line-quantity small {
  font-size: 22px;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}
.recommended-products {
  width: 50%;
  margin-left:25%;
  margin-right:25%;
  align-items: center;
  text-align: center;
  margin-top:1.5em;
}
.recommended-products h2 {
  font-size:24px;
  padding:2%;
}
.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
  width: 50%;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/

.collections h1 {
  background-color: var(--cti-blue);
  color: var(--cti-gold);
  font-size:32px;
  text-transform:uppercase;
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
}

.collections h5 {
  font-size:22px;
  color: var(--cti-blue);
  text-align:center;
}
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}
.products-container-2 {
  max-width:50rem;
  
  
}

.products-container-2-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 100% 100%;
  width:50%;
  margin-bottom: 2rem;
}

.products-container-2-grid h4{
  font-size:28px;
  text-align:center;
}
.products-container-2-grid small {
  font-size:24px;
  text-align:center;
}
.products-grid-container {
  width: 25%;
  height: auto;
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}
.product-image-container {
  width:500px;
  height:500px;
  padding-left:15%;
  padding-right:0;
  padding-top:5%;
}
.product-images {
  display: grid;
  display:block;
  height: 100%;
  grid-gap: 1rem;
  grid-template-rows: 100%;
}

.product-image img {
  height: 100%;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
  background-color:bisque;
  padding: 2rem;
  border-radius: 5px;
}
.product-main h1 {
  background-color: var(--cti-blue);
  text-align:center;
  font-size:28px;
  color: var(--cti-gold);
  padding: 1rem;
  border-radius: 5px;
}
.product-price {
  font-size:22px;
  font-weight: 700;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
  
}

.product-options-item {
  padding: 0.25rem 0.5rem;
  background-color:#000;
  color:#fff;
}

.product-form button {
  background-color: var(--cti-turquois);
  color:#fff;
  font-weight: 700;
  font-size:18px;
  width: 100%;
  border: none;
  padding: 1em;
  border-radius: 5px;
  
}

.product-form button:hover {
  background-color: var(--cti-blue);
  cursor: pointer;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center;
}

.account-logout {
  display: inline-block;
}

/*
* --------------------------------------------------
* Collection Cards on Home Page
* --------------------------------------------------
*/

.card {
  
}
.collection h1 {
  background-color: var(--cti-blue);
  padding:1em;
  text-align:center;
  border-radius: 5px;
  color: var(--cti-gold);
  text-transform:uppercase;
  font-size:32px;
}
.Collection-Banner {
  background-color: rgba(0, 169, 165, 0.4);
  margin-top:2%;
  width: 100%;
  text-align:center;
  border-radius: 10px;
}
.Collection-Banner h1 {
  font-size:32px;
  color: var(--cti-blue);
  font-weight: 700;
  padding-top:2%;
}

.Collection-Card-Area {
  display:flex;
  justify-content:space-evenly;
  padding-bottom:2%;
}

.collection-card {
  width: 100%;
  height: auto;
  color: var(--cti-blue);
  text-align:center;
  align-items: center;
}
.colleciton-card a {
  text-decoration:none;
}
.collection-card h2:hover{
  text-decoration: none;
}

.collection-card h2 {
  font-size: 22px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:bold;
  text-align:center;
  
}
.collection-card h4 {
  font-size:18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  text-align:center;
  
}
.collection-card img {
  width:150px;
  height:150px;
}
